/*------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------
    DEBUG
--------------*/
/* .debug header {
    height: 80px;
    background-color: aqua;
} */
/* .debug .menu-nav {
    background-color: goldenrod;

} */
/*------------
    TYPOGRAPHY
--------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/*------------
    COMMON
--------------*/

/*------------
    HEADER
--------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
}
.menu-nav {
    width: 35%;
}
.list-inline {
    display: flex;
    list-style: none;
}
.list-inline li a {
    text-decoration: none;
    color: inherit;
}
.menu-nav .list-inline {
    display: flex;
    align-items: center;
}
.menu-nav.right .list-inline {
    justify-content: flex-end;
}
.list-inline li:not(:last-child) {
    margin-right: 20px;
}
/*------------
    BUTTONS
--------------*/
.btn {
    border: none;
    background-color: transparent;
    font-size: inherit;
}
.btn.btn-primary {
    background-color: #0061ff;
    color: white;
}
.menu-nav.right .btn-small {
    padding: 10px 14px;
}
/*------------
    MAIN
--------------*/

/*------------
    FOOTER
--------------*/