/*------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------
    DEBUG
--------------*/
/* .debug header {
    height: 80px;
    background-color: aqua;
} */
/* .debug .menu-nav {
    background-color: goldenrod;

} */
/* .debug .col-small {
    background-color: aqua;
} */
.debug .col-big {
    background-color: lightgrey;
}
/* .debug .hero {
    height: 600px;
} */
/*------------
    TYPOGRAPHY
--------------*/
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 60px;
}
/*------------
    COMMON
--------------*/
.container {
    max-width: 1100px;
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col-small {
    width: 30%;
}
.col-big {
    width: 60%;
}
/*------------
    HEADER
--------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    position: sticky;
    top: 0;
    background-color: white;
}
.menu-nav {
    width: 40%;
}
.list-inline {
    display: flex;
    list-style: none;
}
.list-inline li a {
    text-decoration: none;
    color: inherit;
}
.menu-nav .list-inline {
    display: flex;
    align-items: center;
}
.menu-nav.right .list-inline {
    justify-content: flex-end;
}
.list-inline li:not(:last-child) {
    margin-right: 20px;
}
/*------------
    BUTTONS
--------------*/
.btn {
    border: none;
    font-size: inherit;
}
.btn.btn-primary {
    background-color: #0061ff;
    color: white;
}
.menu-nav.right .btn-small {
    padding: 10px 14px;
}
.hero .btn-big {
    padding: 15px 17px;
}
.btn-box {
    margin: 32px 0;
}
/*------------
    MAIN
--------------*/
.hero {
    background-color: #b4d0e7;
    padding-top: 100px;
}
.hero .row {
    padding-top: 74px;
}
.hero .col-small .unsubscribe {
    margin-bottom: 80px;
}
.go-to-the-plans i {
    font-size: 42px;
}
.hero .go-to-the-plans {
    padding-bottom: 20px;
}
/*------------
    FOOTER
--------------*/