/*------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------
    DEBUG
--------------*/
.debug header {
    height: 80px;
    background-color: aqua;
}
/*------------
    TYPOGRAPHY
--------------*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*------------
    COMMON
--------------*/

/*------------
    HEADER
--------------*/
header {
    display: flex;
    justify-content: space-between;
}
.menu-nav {
    width: 30%;
    background-color: goldenrod;
}
/*------------
    BUTTONS
--------------*/

/*------------
    MAIN
--------------*/

/*------------
    FOOTER
--------------*/